<% if (user.isFriend()) { %>
  <% var buttonClass = 'current-friend' %>
  <% var buttonText = 'Friended!' %>
<% } else if (user.isWaiting()) { %>
  <% var buttonClass = 'awaiting-friendship' %>
  <% var buttonText = 'Accept Friend Request' %>
<% } else if (user.friendshipSent()) { %>
  <% var buttonClass = 'awaiting-friendship' %>
  <% var buttonText = 'Friend Request Sent' %>
<% } else {%>
  <% var buttonClass = 'not-friend' %>
  <% var buttonText = 'Send Friendship Request' %>
<% } %>

<div class="username">
  <h1><%= user.escape('username') %>'s slams:</h1>
  <button type="button" class="<%= buttonClass %>" name="button"><%= buttonText %></button>
</div>
<br>
<div class="user-slams-container">
  <ul class="user-slams-list">

  </ul>
</div>
