  console.log(friend.attributes.friend_id)}
<ul>
<% friendships.each(function(friendship){ %>
  <% if (friendship.pending && friendship.friend_id == Fridgeslam.CURRENT_USER.id) { %>
    <li><a href="#"></a></li>
  <% }}) %>
</ul>
