<li class="req-list-item">
    <a href="#/users/<%= request.escape('id') %>"><%= request.escape('username') %></a>
    <button class="accept-friendship">Accept</button>
    <button class="reject-friendship">Reject</button>
</li>
