<h2 class="friend-req-header">Your pending friendship requests:</h2>
<ul class="requestor-list"></ul>
<script type="text/javascript">
    if (!$('.friends-num').text().trim() || $('.friends-num').text() === '0' ) {
      debugger
      $('.requestor-list').append("<h2 class='no-reqs'>Nothing here...</h2>");
    }
</script>
