<li class="slam-list-item">
  <div class="">
    <p class="slam-title"><%= slam.escape('title') %><br>
    by <%= slam.attributes.user.username %></p>
  </div>
  <div class="slam-likes">
    <p class="slam-likes"><%= slam.escape('likes') %></p>
  </div>
</li>
