<form class="group-slam-form">
  <div class="title-container">
    <input class="slam-title" type="text" name="slam[title]" value="<%= slam.escape('title') %>" placeholder="Pick a title">
  </div>
  <div class="friend-list-container">
    <ul class="friends-list">

    </ul>
  </div>
  <br>
  <div class="input-container">
    <input class="word-input" type="text" value="<%= slam.escape('title') %>" placeholder="Choose the first word!">
  </div>
  <button class='submit-group-word'>Start Slam!</button>
</form>
