<form class="solo-slam-form">
  <div class="common-word-buttons">
    <ul class="common-word-list">
      <li class="common-word" >the</li>
      <li class="common-word" >a/an</li>
      <li class="common-word" >for</li>
      <li class="common-word" >when</li>
      <li class="common-word" >to</li>
      <li class="common-word" >for</li>
      <li class="common-word" >if</li>
      <li class="common-word" >not</li>
      <li class="common-word" >of</li>
      <li class="common-word" >in</li>
      <li class="common-word" >on</li>
    </ul>
  </div>
  <div class="punctuation-buttons">
    <ul class="punctuation-list">
      <li class="punctuation" >. </li>
      <li class="punctuation" >, </li>
      <li class="punctuation" >: </li>
      <li class="punctuation" >; </li>
      <li class="punctuation" >! </li>
      <li class="punctuation" >? </li>
      <li class="new-line" ><img class="new-line-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Return_arrow.svg/2000px-Return_arrow.svg.png"/></li>
    </ul>
  </div>
  <div class="slam-preview">

  </div>
  <div class="word-options-container">
  </div>
  <input type="button" name="name" value="Save">
  <input type="button" name="name" value="Submit">
</form>
