
<div class="dashboard-buttons clearfix">
  <a id="top-button" href="#/index/top">TOP<br>SLAMS</a>
  <a id="my-slams-button" href="#/index/completed">MY FINISHED<br>SLAMS</a>
  <a id="start-button" href="#/slams/new-solo">START NEW<br>SOLO SLAM</a>
  <a id="new-button" href="#/index/new">FRESHEST<br>SLAMS</a>
  <a id="pending-button" href="#/index/pending">MY PENDING<br>SLAMS (<%= slams.length %>)</a>
  <a id="start-button" href="#/slams/new-group">START NEW<br>GROUP SLAM</a>
</div>
