<!DOCTYPE html>
<html>
<head>
  <title>Fridgeslam</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style media="screen">

  canvas {
    position:fixed;
    z-index: -200;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:0;
    box-sizing:border-box;
    width: 1500;
    height:auto;
  }

  </style>
</head>
<body>


<%= yield %>

</body>
</html>
